<!DOCTYPE html>
<html ng-app="myApp"><!--增加了“myapp”为什么不生效？-->
	<head>
		<title></title>
		<meta charset="UTF-8"/>
		<script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>
		
		
		
  </head>
  <body>
   
<!--=============================ChildController================================-->
      
      <div ng-controller="ChildController">
	<button ng-click="sayhello()">SayHello</button>
	<p>{{person}}</p>
      </div>
    <div ng-controller="yanzheng">
    	<input type="text" id="" value="" ng-model="email" />
    	<h1>你输入了{{email | uppercase}}</h1>
    </div>
<!--============================tabletest===========================================-->
    
<!--遍历数组循环输出，比较简单的例子，还有嵌套输出-->
    <div id="" ng-controller="tabletest">
    	<table border="" cellspacing="" cellpadding="" >
    		<tr><th>no.</th>
    			<th>name</th>
    			<th>price</th>
    		</tr>
    		<tr ng-repeat="x in prices">
    			<td>{{$index+1}}</td>
    			<td>{{x.name | uppercase}}</td>
    			<td >{{x.tag}}</td>
    		</tr>
    	</table>
    	
    	
    		<li ng-repeat="x in brand">{{x}}</li>
    	</ul>
    	<div id="">
    		{{res}}
    	</div>
    </div>
    
<!--========================serivertest===============================================-->
<div ng-controller="serivertest">
	<h3>$location服务：{{testUrl}}</h3>
	<h1>{{myWelcome}}</h1>
</div>
 <!--========================下拉列表===============================================-->
 <div ng-controller="optiontest">
 	<select ng-init="selectname=names[0]" ng-model="selectname" ng-options="x for x in names">
 		
 	</select>
 	<p>你选择的是{{selectname}}</p>
 	<select ng-init="selectname2=prices[0]" ng-model="selectname2" ng-options="x.tag for x in prices">
 		
 	</select>
 	<p>你选择的是{{selectname2}}</p>
 	<select ng-init="selectname3=totals[1]" ng-model="selectname3" ng-options="x for (x,y) in totals">
 		
 	</select>
 	<p>你选择的是{{selectname3}}</p>
 </div><!--如何联动？-->
 
 
<!-- 验证-->
<form ng-app="myApp" ng-controller="validateCtrl" 
name="myForm" novalidate>

<p>用户名:<br>
<input type="text" name="user" ng-model="user" required>
<span style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid">
<span ng-show="myForm.user.$error.required">用户名是必须的。</span>
</span>
</p>

<p>邮箱:<br>
<input type="email" name="email" ng-model="email" required>
<span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
<span ng-show="myForm.email.$error.required">邮箱是必须的。</span>
<span ng-show="myForm.email.$error.email">非法的邮箱地址。</span>
</span>
</p>

<p>
<input type="submit"
ng-disabled="myForm.user.$dirty && myForm.user.$invalid ||  
myForm.email.$dirty && myForm.email.$invalid">
</p>

</form>
 
<!--========================过滤器===============================================--> 
<div ng-controller="datetest">
	<h1>{{tt | date:"yyyy"}}</h1>
</div>


 <!--========================ChildController===============================================-->
<script type="text/javascript">
	var app = angular.module('myApp', [])
	app.controller('ChildController', function($scope) {
		$scope.sayhello = function() {
			$scope.person = {
				name: 'lilian.liu',
				age: '30'
			};
			$scope.person.age = 25;

		};
	});
	app.controller('yanzheng',function($scope){
		
	})
//即便没有任何代码，也要有这段控制器。

app.controller('validateCtrl', function($scope) {
    $scope.user = 'John Doe';
    $scope.email = 'john.doe@gmail.com';
});



app.controller('tabletest',function($scope){
	$scope.prices=[
	{name:"ysl",tag:300},
	{name:"tf",tag:150}
	];
	$scope.brand=["tf","chanel","JJ"]
	$scope.res=new Date().getDate();
})


</script>
<!--<script type="text/javascript">
	app.controller('serivertest',function($scope,$location){
	$scope.testUrl=$location.absUrl();
	
})放到外部文件中
</script>-->
<script type="text/javascript" src="serivertest.js" ></script>


  </body>
 
</html>